.box {
    width: 200px;
    height: 200px;
    background-color: rgba(238, 109, 109, 0.637);
}

.animeEsquerda {
    transition: all 0.5s;
    margin-left: 50px;
    background-image: linear-gradient(black, white);
}
